input {
  padding: 10px;
  width: 300px;
  margin-right: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.results h2 {
  text-transform: capitalize;
}
