p {
  font-size: 16px;
}

.App {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-size: 50px;
  text-align: center;
  color: #fff;
}

.main-content {
  background-color: #7da38c;
  justify-self: flex-start;
  height: 130px;
  width: 100vw;
}

.footer {
  margin-top: 10px;
  font-size: 12px;
}

input {
  padding: 10px;
  width: 300px;
  margin-right: 5px;
  border-radius: 10px;
  text-transform: capitalize;
  border: 1px solid gray;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.results h2 {
  text-transform: capitalize;
}

.meaning h3{
  font-style: italic;
  font-size: 25px;
}

.headline {
  font-size: larger;
  text-align: center;
}

.audio-file {
  padding-left: 10px;
}

.wrapper {
  justify-content: flex-start;
}

.meaning, .images {
  width: 50%;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 20px;
  padding: 30px;
  line-height: 2;
}

.meaning-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.example {
  font-style: italic;
  color: darkslategrey;
}

li {
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  
}

.word-meaning {
  padding-bottom: 30px;
}

.results-div {
  display: flex;
}

ul{
    padding-left:0px;
    padding-bottom: 50px;
    padding-top: 20px;

}

.definition {
  font-size: 16px;
}

